@model StarSecurity.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EName" class="control-label"></label>
                <input asp-for="EName" class="form-control" />
                <span asp-validation-for="EName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EAddress" class="control-label"></label>
                <input asp-for="EAddress" class="form-control" />
                <span asp-validation-for="EAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ENumber" class="control-label"></label>
                <input asp-for="ENumber" class="form-control" />
                <span asp-validation-for="ENumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EQualification" class="control-label"></label>
                <input asp-for="EQualification" class="form-control" />
                <span asp-validation-for="EQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ECode" class="control-label"></label>
                <input asp-for="ECode" class="form-control" />
                <span asp-validation-for="ECode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EDepartment" class="control-label"></label>
                <input asp-for="EDepartment" class="form-control" />
                <span asp-validation-for="EDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ERole" class="control-label"></label>
                <input asp-for="ERole" class="form-control" />
                <span asp-validation-for="ERole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EGrade" class="control-label"></label>
                <input asp-for="EGrade" class="form-control" />
                <span asp-validation-for="EGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EClients" class="control-label"></label>
                <input asp-for="EClients" class="form-control" />
                <span asp-validation-for="EClients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EAchievements" class="control-label"></label>
                <input asp-for="EAchievements" class="form-control" />
                <span asp-validation-for="EAchievements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
