@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container about px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/img/about.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div> 
                        <h1 class="display-5 mb-4">About Us</h1>
                    <p class="mb-4 pb-2">
                        We are a professional agency providing customized security arrangements to the industrial, commercial, and business houses

                        Star securities has been one of the pioneers in the Private Security Industry. Set up in 2000, the company has been a thought and knowledge leader since its inception. Through the decade of its existence, Star has endeavored to provide the best security solutions to its customers through innovation, commitment to quality, training and strict compliance to international standards.

                        Setup as Investigation firm almost 10 years ago, today the company has grown into a "Total Security Solutions Provider" offering manned guarding (MG), investigations (C&I), electronic security systems (ESS) and cash services (CS) to over 250 corporate customers across 24 states.

                        Star is an ISO 9001:2000 certified public limited company. Backed by a trained workforce of over 2800 men & supervisors and 100 banded managers, Star delivers premium services with high quality and absolute integrity.

                        Star believes in continuously upgrading the quality of our resources and infrastructure to support the ever-changing customer requirements. In pursuance to this, Star wants the security business to implement a state-of-the-art ERP Solution to manage the day-to-day operations of the company.
                    </p>
                        <div class="row g-4 mb-4 pb-3">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="~/img/icon/icon-1.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-primary mb-0">Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center">
                                    <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                        <img class="img-fluid" src="~/img/icon/icon-5.png" alt="Icon">
                                    </div>
                                    <div class="ms-4">
                                        <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                        <p class="fw-medium text-primary mb-0">Projects Done</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    