@model StarSecurity.Models.Testimonials

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Testimonials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestimonialsId" />
            <div class="form-group">
                <label asp-for="TName" class="control-label"></label>
                <input asp-for="TName" class="form-control" />
                <span asp-validation-for="TName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TProfession" class="control-label"></label>
                <input asp-for="TProfession" class="form-control" />
                <span asp-validation-for="TProfession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TImage" class="control-label"></label>
                <input asp-for="TImage" class="form-control" />
                <span asp-validation-for="TImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDescription" class="control-label"></label>
                <input asp-for="TDescription" class="form-control" />
                <span asp-validation-for="TDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
